{% extends 'admin.html.twig' %}

{% block title %}
	{{ parent() }}
	| Admin - Édition d'un ingrédient
{% endblock %}

{% block admin_content_title %}
	Modifier l'ingrédient
{% endblock %}

{% block admin_content %}
	<div class="mt-3">
		{{ include('admin/ingredient/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
	</div>
{% endblock %}
