<form method="post" action="{{ path('app_admin_beverage_delete', {'id': beverage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ beverage.id) }}">
    <button class="btn">Delete</button>
</form>
