<footer class="d-flex justify-content-between align-items-center bg-light fixed-bottom p-2 shadow-top">
	<div class="d-flex align-items-center gap-1">
		<a href="#">
			{% include 'components/svg/_icon_instagram.svg.twig' %}
		</a>
		<a href="#">
			{% include 'components/svg/_icon_twitter.svg.twig' %}
		</a>
		<a href="#">
			{% include 'components/svg/_icon_fb.svg.twig' %}
		</a>
	</div>
	<div>
		<p class="fs-7">©Thai Tea | Mentions légales</p>
	</div>
</footer>
