{% extends 'admin.html.twig' %}

{% block title %}
	{{ parent() }}
	| Admin - Édition du liquide
{% endblock %}

{% block admin_content_title %}
	Modifier le liquide
{% endblock %}

{% block admin_content %}
	<div class="mt-3">
		{{ include('admin/liquid/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
	</div>
{% endblock %}
